<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
  called in views, particularly account.erb, 
  in order to add double protection to this view so that only the current user, 
  when they are logged in, can see their bank account balance.

  </body>
</html>